{% extends"bootstrap/base.html" %}

{% block title %} toy-db {% endblock %}

{#{% block head %}#}
{#    {{ super() }}#}
{#{% endblock %}#}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>Home<</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>Log Out</li>
                <li>Log In</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}